<img class="bg" src="modules/core/img/bg1.jpg">
<ui-view>
<section data-ng-controller="HomeController">
	<section class="col-lg-12 hidden-md hidden-sm hidden-xs" id="Toprowuiview">
		<!-- <img id="mainSecImg" src="modules/core/img/brand/eee2abc-plate-only.png"> -->
		<div class="col-lg-3 visible-lg"><h5 class="spanTitle3"><i>Let us cook for you!</i></h5></div>
		<div class="col-lg-6 visible-lg" align="center"><img src="modules/core/img/brand/eee-txt-green-sm.png"></div>
		<div class="col-lg-3 visible-lg"><h5 class="spanTitle4">412-000-0000</h5></div>

		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h1>Catering, Private-Chef Services<br>&amp; Delivered Meals</h1></div>

		<div class="col-lg-3 visible-lg"><h5 class="spanTitle3"><i>Serving the Pittsburgh-area</i></h5></div>
		<div class="col-lg-6 visible-lg" align="center"><img src="modules/core/img/brand/plate-sm.png"></div>
		<div class="col-lg-3 visible-lg" style="vertical-align: baseline;"><h5 class="spanTitle4"><i>xxx@eastendeatz.com</i></h5></div>
		<div class="col-md-12 col-sm-12 col-xs-12 hidden-lg"><h5 class="spanTitle5">412-000-0000</h5><h5><i>xxx@eastendeatz.com</i></h5></div>
    </section>
	
	<section class="col-md-12 hidden-lg" id="Toprowuiview">
		<h1 class="visible-md">Catering, Private-Chef Services<br>&amp; Delivered Meals</h1>
		<h2 class="visible-sm visible-xs">Catering, Private-Chef Services<br>&amp; Delivered Meals</h2>
		<h5 class="spanTitle3" align="center"><i>Let us cook for you!&nbsp;&nbsp;&nbsp;412-000-0000&nbsp;&nbsp;&nbsp;xxx@eastendeatz.com</i></h5>
	</section>
		

		<!-- LEFT COLUMN______________________________________________________________________________________ -->
		<section class="col-md-4" id="Lmidcol">
			<h4>Private Chef Services</h4>
			<div class="col-md-12" id="image">
				<img src="modules/core/img/meal2.jpg" alt="Home Chef Services"/>
		        <h3>A special night awaits!&nbsp;</h3>
		        <h2>Dinner-<i>for</i>-Two</h2> 
		        <p>Dinner-for-Two is complete with candlelight, wine, wait service, fresh ingredients, upscale presentation, and full cleanup.<br><br>
		        Enjoy a special in-home experience.  Also makes a great gift idea. Call for scheduling.</p>
		                
			</div>

			<h4>Daily or Weekly Meals</h4>
			<div class="col-md-12" id="image">
				<img src="modules/core/img/meal1.jpg" alt="Home Chef Services"/>
		         <h3>Freshly-made Meals!</h3><br>
		         <h2>Your Personal Chef</h2>
		         <p>Breakfast, lunch, or dinner.   Around-the-clock, weekly, or on special occaisions.  Our hours of operation depend solely on the wants and needs of the customer.<br><br>
		         Contact us to schedule and see how a private chef can make a wonderful difference in your life.</p>
			<br>
			</div>

			<h4>Dietary Restrictions &amp; Routines</h4>
			<div class="col-md-12" id="image" style="padding-bottom: 8px;">
				<p>Interested in paleo, gluten-free, low-fat, diet for diabetics, or low-sodium eating, food prep, and meal choices?  Give us a ring, or send us an email <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>.</p>
			</div>

		</section>

		<!-- CENTER COLUMN______________________________________________________________________________________ -->
		<section class="col-md-4" id="Cmidcol">
			
			<div class="col-md-12">
			<h4>Catering &amp; Events</h4>
				<div class="col-md-12" id="imageTWO">
					<h2>Your Event Specialist</h2>
					<!-- <h3>We Cater to You.</h3> -->
					<h6>Offering full catering services for any event.</h6>
					<ul>
						<li>Holidays &amp; Celebrations</li>
						<li>Corporate Meetings &amp; Luncheons</li>
						<li>Family Parties, Reunions, &amp; Graduations</li>
						<li>Baby, Bridal Showers, and more!</li>
					</ul>
					<p>We make sure to deliver on the promise of delicious food and great service.  Contact us at <a href="tel:1+412-000-0000">(412)-000-0000</a> to discuss your next event.</p>
					<h6>Additionally, we can provide:</h6>
					<ul>
						<li>Children's meals</li>
						<li>Dietary-specific meals and planning</li>
						<li>Tablecloth + Linen Settings</li>
						<li>Event setup + teardown labor</li>
					</ul>
				</div>
			</div>
			<br>

			<h4>Who We Are</h4>
			<div class="col-md-12">	
				<p>We are a hardworking, dedicate group whose mission is to provide upscale event, business, and in-home catering and private chef services.
				<br><br>
				Sourcing only the freshest, local, and organic ingredients prepared by top-class, experienced chefs,  we aim for the highest-quality cuisine and memorable experiences.
				<br><br>
				Our services do not begin only with food...  We provide professional and courteous service and offer onsite waitstaff, cleanup, labor (event set-up/teardown), and linen for any of your special event needs.</p>
				<br>
				
			</div>

			<h4>Find Us Online!</h4>
			<div class="col-md-12">	
				<ul class="nav" style="padding-bottom: 41px;">
					<li><a href="" id="social1"></a></li>
					<li><a href="" id="social2"></a></li>
					<li><a href="" id="social3"></a></li>
					<li><a href="" id="social4"></a></li>
				</ul>
			</div>
		</section>

		<!-- Right COLUMN______________________________________________________________________________________ -->
		<section class="col-md-4" id="Rmidcol">

			<div class="col-md-12 insideCmidCol" onclick="location.href='http://localhost:3000/#!/menu' "> <!--  -->
				<h3 align="center"><span id="red">&#10087</span> Our Mission <span id="red">&#10087</span></h3>
					<h4 align="center">Fresh, Local, Organic, Upscale</h4>
				<h5 align="center"><small style="color: white;">Click to View Sample Menu</small></h5>
			</div>
			
			<h4>Meal Delivery Services</h4>
			<div class="col-md-12" id="image">
				<img src="modules/core/img/meal3.jpg" alt="Home Chef Services"/>
		        <h3>Delivery to Your Door&nbsp;</h3>
		        <h2>On-time Freshness</h2>
		        <p>We deliver fresh, upscale meals to your door.  If you've every wanted to great food without the challenges of time and transportation then this service is for you.
		        <br><br>
		        We offer delicious nutritional meals individually packaged that arrive fresh and delicious.  Additionally,  if you are in search ofspecific routine, we can help plan and have your meal ready when you want it.  
		        <br><br>
		        Delivered meals bring customization, freshness, and convenience.  Book a scheduling time soon.</p> 
			</div>
			
			<h4>Meet Us</h4>
			<div class="col-md-12" id="image">
				<div class="col-md-6">
					<i class="fa fa-user fa-3x"></i>
					<h5><b>Chef Sean Kelly</b></h5>
					<p>15+ years of executive experience in fine dining, upscale hotels, and catering. Creator of East End Cafe.</p>
				</div>

				<div class="col-md-6">
					<i class="fa fa-user fa-3x"></i>
					<h5><b>Chef Dustin Miller</b></h5>
					<p>Extensive multi-year experience in large events, including Executive Sous Chef Pittsburgh Steelers, Heinz Field and Aramark.</p>
				</div>
		         
			</div>

		</section>	
</section>
</ui-view>