<img class="bg" src="modules/core/img/bg1.jpg">
<ui-view>
<section data-ng-controller="HomeController">
	<section class="col-lg-12 hidden-md hidden-sm hidden-xs" id="Toprowuiview">
		<!-- <img id="mainSecImg" src="modules/core/img/brand/eee2abc-plate-only.png"> -->
		<div class="col-lg-3 visible-lg"><h3 class="spanTitle3"><i>Let us cook for you!</i></h3></div>
		<div class="col-lg-6 visible-lg" align="center"><img src="modules/core/img/brand/eee-txt-green-sm.png"></div>
		<div class="col-lg-3 visible-lg"><h3 class="spanTitle4">412-352-5439</h3></div>

		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h1>Catering, Private-Chef Services<br>&amp; Delivered Meals</h1></div>

		<div class="col-lg-3 visible-lg"><h3 class="spanTitle3"><i>Serving Pittsburgh</i></h3></div>
		<div class="col-lg-6 visible-lg" align="center"><img src="modules/core/img/brand/plate-sm.png"></div>
		<div class="col-lg-3 visible-lg" style="vertical-align: baseline;"><h3 class="spanTitle4"><i>eecpgh@comcast.net</i></h3></div>
		<div class="col-md-12 col-sm-12 col-xs-12 hidden-lg"><h5 class="spanTitle5">412-352-5439</h5><h5><i>eecpgh@comcast.net</i></h5></div>
    </section>
	
	<section class="col-md-12 hidden-lg" id="Toprowuiview">
		<h1 class="visible-md">Catering, Private-Chef Services<br>&amp; Delivered Meals</h1>
		<h2 class="visible-sm visible-xs">Catering, Private-Chef Services<br>&amp; Delivered Meals</h2>
		<h5 class="spanTitle3" align="center"><i>Let us cook for you!</i></h5> <!-- &nbsp;&nbsp;&nbsp;<br><br>412-352-5439<br><br>&nbsp;&nbsp;&nbsp;eecpgh@comcast.net-->
		<h3 class="spanTitle3" align="center"><i>412-352-5439</i></h3>
		<h3 class="spanTitle3" align="center"><i>eecpgh@comcast.net</i></h3>
	</section>
		

		<!-- LEFT COLUMN______________________________________________________________________________________ -->
		
		<section class="col-md-4" id="Lmidcol">
			<h4>Private Chef Services</h4>
			<div class="col-md-12" id="image">
				<img class="img-responsive" src="modules/core/img/meal2.jpg" alt="Home Chef Services"/>
		        <h3>A Special Night Awaits!&nbsp;</h3>
		        <h2>Dinner-<i>for</i>-Two</h2> 
		        <p>Dinner-for-Two is complete with candlelight, wine, wait service, fresh ingredients, upscale presentation, and full cleanup.<br><br>
		        Enjoy a special in-home experience.  Also makes a great gift idea. Call for scheduling.</p>
		                
			</div>

			<h4>Daily or Weekly Meals</h4>
			<div class="col-md-12" id="image">
				<img class="img-responsive" src="modules/core/img/meal1.jpg" alt="Home Chef Services"/>
		         <h3>Freshly-Made Meals!</h3><br>
		         <h2>Your Personal Chef</h2>
		         <p>Breakfast, lunch, or dinner.   Around-the-clock, weekly, or on special occasions.  Our hours of operation depend solely on the wants and needs of the customer.<br><br>
		         Contact us to schedule and see how a private chef can make a wonderful difference in your life.</p>
			<br>
			</div>

			<h4>Dietary Restrictions &amp; Routines</h4>
			<div class="col-md-12" id="image">
				<p>Interested in Paleo, gluten-free, low-fat, diet for diabetics, or low-sodium eating, food prep, and meal choices?  Give us a ring, or send us an email <a href="mailto:eecpgh@comcast.net">eecpgh@comcast.net</a>.</p>
			</div>

		</section>

		<!-- CENTER COLUMN______________________________________________________________________________________ -->
		<section class="col-md-4" id="Cmidcol">
			
			<div class="col-md-12">
			<h4>Catering &amp; Events</h4>
				<div class="col-md-12" id="imageTWO">
					<h2>Your Event Specialist</h2>
					<!-- <h3>We Cater to You.</h3> -->
					<p>Offering full catering services for any event.</p>
					<ul>
						<li>Holidays &amp; Celebrations</li>
						<li>Corporate Meetings &amp; Luncheons</li>
						<li>Family Parties, Reunions, &amp; Graduations</li>
						<li>Baby, Bridal Showers, &amp; more!</li>
					</ul>
					<p>We make sure to deliver on the promise of delicious food and great service.  Contact us at <a href="tel:1+412-352-5439">(412)352-5439</a> to discuss your next event.</p>
					<p>Additionally, we can provide:</p>
					<ul>
						<li>Children's meals</li>
						<li>Dietary-specific Meals &amp; planning</li>
						<li>Linen + Tablecloth</li>
					</ul>
				</div>
			</div>
			<br>

			<h4>Who We Are</h4>
			<div class="col-md-12">	
				<p>We are a hardworking, dedicate group whose mission is to provide upscale event, business, and in-home catering and private chef services.
				<br><br>
				Sourcing only the freshest, local, and organic ingredients prepared by top-class, experienced chefs,  we aim for the highest-quality cuisine and memorable experiences.
				<br><br>
				Our services do not begin only with food...  We provide professional and courteous service and offer cleanup and even linen as a service for your special event.</p>
				<br>
				
			</div>

			<h4>Find Us Online!</h4>
			<div class="col-md-12">	
				<ul class="nav" style="padding-bottom: 33px;">
					<li><a href="https://www.facebook.com/EastEndEatz" id="social1" target="_blank" title="fb.com/EastEndEatz"></a></li>
					<!-- <li><a href="" id="social2" target="_blank"></a></li> -->
					<li><a href="https://twitter.com/eastendeatz" id="social3" target="_blank"></a></li>
					<!-- <li><a href="" id="social4"></a></li> -->
				</ul>
			</div>
		</section>

		<!-- Right COLUMN______________________________________________________________________________________ --><!-- onclick="location.href='http://eastendeatz.herokuapp.com/#!/auth' " --><!-- <h3 align="center"><span id="red">&#10087</span> Our Mission <span id="red">&#10087</span></h3>
						<h4 align="center">Fresh, Local, Organic, Upscale</h4>
					<h5 align="center"><small style="color: white;">VIEW OUR MENU'S</small></h5> -->	
		<section class="col-md-4" id="Rmidcol" ng-controller="FoodsController">
			
			<div class="col-md-12 insideCmidCol" style="z-index: 1;">
				
				<a ui-sref="listFoods">
					<h3 align="center"><span id="red">&#10087</span> View Our Menu's <span id="red">&#10087</span></h3>
					<h3 align="center">Fresh, Local, Organic, Upscale</h3>
				</a>
			</div>
		
			
			<h4>Meal Delivery Services</h4>
			<div class="col-md-12" id="image">
				<img class="img-responsive" src="modules/core/img/meal3.jpg" alt="Home Chef Services"/>
		        <h3>Delivery To Your Door&nbsp;</h3>
		        <p>Delicious meals freshly delivered.  Suit your needs - Healthy eating, Convenience, Freshness, Quality. Ask us for more info on meal delivery options.</p>
		        <!-- -->
		        <!-- <h2>On-time Freshness</h2>
		        <p>We deliver fresh, upscale meals to your door.  If you've every wanted to great food without the challenges of time and transportation then this service is for you.
		        <br><br>
		        We offer delicious nutritional meals individually packaged that arrive fresh and delicious.  Additionally,  if you are in search ofspecific routine, we can help plan and have your meal ready when you want it.  
		        <br><br>
		        Delivered meals bring customization, freshness, and convenience.  Book a scheduling time soon.</p>  -->
			</div>

			<h4>Prepared Meals</h4>
			<div class="col-md-12">
				<h2>Small-Batch Cooking</h2>
				<p>Small batch cooking is a very popular option amongst customers who liking having prepared food options at home.
				<br><br>
				Customers tell us they are pleasantly surprised in the convenience that prepared meals provide to them.  We recommend you try it!
				<br><br>
				Small batch cooking is also great for small to mid-size gatherings.  We can accommodate cooking order quanties to meet any of your needs.
				</p>

			</div>
			
			
			<h4>Meet Us</h4>
			<div class="col-md-12" style="padding-bottom: 27px;">
				<i class="fa fa-user fa-3x"></i>
				<p><b>Chef Sean Kelly</b></p>
				<p>Professionally trained at <b>The Culinary Institute of America</b> <em>(Hyde Park, New York)</em>, with 15+ years executive chef experience in fine dining, upscale hotels, private events, catering, and small-batch cooking.<br>
				</p>
			</div>

		</section>	
</section>
</ui-view>
<section class="col-md-12" class="bottomAcknowledgement">
	<p>&copy; 2014 East End Eatz</p>
	<p>Website by
		<a href="http://www.creativemonsterconsulting.com" target="_blank">Creative Monster Consulting, LLC.</a>
	</p>
</section>